<form action='/teams' method="POST">
  <h1>Purchase</h1>
    <p> Item Name: <input type="text" id="item[name]" name="item[name]"></p>
    <p> Team Motto: <input type="text" id="team[motto]" name="team[motto]"></p>
    <input id="submit" type="submit">
</form>
