<form action='/teams' method="POST">
  <h1>Create a Team and Heroes!</h1>
    <p> Team Name: <input type="text" id="team[name]" name="team[name]"></p>
    <p> Team Motto: <input type="text" id="team[motto]" name="team[motto]"></p>

